<form [formGroup]="contestForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="contest-card">
    <mat-card-header>
      <img src="assets\logo.jpg" alt="finite carvings logo">
      <h3 class="my-font" style="color: whitesmoke;"> Finite Carvings Contest</h3>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-6 col-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Sach" formControlName="firstName">
            <mat-error *ngIf="contestForm.controls.firstName.errors">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput placeholder="9876543210" formControlName="mobNo">
            <mat-error *ngIf="contestForm.controls.mobNo.errors">
              <span *ngIf="contestForm.controls.mobNo.errors.required"> Mobile Number is
                <strong>required</strong></span>
              <span *ngIf="!contestForm.controls.mobNo.errors.required">Please enter a valid indian 10 digit mobile
                number e.g.9876543210</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <h4>Respond to the Writing prompt in 150-200 words,</h4>
      <h4>Write a short story with title </h4>
      <h3 class="my-font"> Title comes here </h3>
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Start your story here...</mat-label>
            <textarea matInput placeholder="Once upon a time..." matInput cdkTextareaAutosize
              #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"
              formControlName="content"></textarea>
            <mat-error *ngIf="contestForm.controls.content.errors">
              Story is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
    <mat-card-footer> 
      <div  class="contact text-center">
      <img src="assets\whatsapp.png" alt="finite carvings logo"> - 9976204646
      <img src="assets\insta.png" alt="finite carvings logo"> - finitecarvings
      </div>
    </mat-card-footer>
  </mat-card>
</form>